/* varaiables */
:root{
    --primary:yellowgreen;
    --secondary:#0a0b5b;
}
/* rest */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* base styles */
body{
    background: var(--secondary);
    overflow-x: hidden;
    font-family: proxima-nova-1,proxima-nova-2,'Proxima Nova',sans-serif;
}
.button{
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    display: inline-block;
}
.button:hover{
    color: #222;
    background: var(--primary)
}
input,textarea{
    background: rgba(255, 255, 255, 0.05);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid #9893d8;
    color: #f2f2f2;
}
/* fonts */
h1,h2,h3,h4{
    color: #dddbff;
    font-weight: normal;
}
p,a,li{
    color: #9893d8;
}
h1,h3{
    font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
.leading{
    font-size: 1.1em;
}



body{
    animation-name: geen;
animation-duration: 1s;
animation-delay: 1.5;
animation-timing-function: ease-in;
animation-fill-mode: both;
}
/* animation */
.welcome-text{
    animation-name: fade-in;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}


@keyframes geen{
from{opacity: 100%; width: 0%;}
to{opacity: 100%; width: 100%;}
}


@keyframes fade-in{
from{opacity: 0%;}
to{opacity: 100%;}
}

#skills{
    animation-name: fade-in;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    }
/* mobile styles */

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}
.site-nav{
    margin: 0 20px;
}
.site-nav ul{
    display: none;
}
.site-nav h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary
    );
}
#welcome{
    padding: 0 20px 20px 20px ;
}
.welcome-text{
    grid-column: 1/6;
}
.welcome-img{
    grid-column: 6/9;
}
.welcome-image img{
    width: 50%;
    /* original was   width: 200%; */
    border-radius: 40px;
    
}
.welcome-text a{
    margin: 20px 0;
}
#skills{
    padding: 30px 20px;
    background: #07083e;
}
#skills h3{
    text-align: center;
}
#skills ul{
    margin: 40px 0;
}
#skills li{
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    grid-column: span 4;
    text-align: center;
}
#skills img{
    height: 80px;
    margin: 10px auto;
   align-self: center;
}
#contact{
    padding: 30px 20px;
    background: #080936;
}
#contact, h3, #contct p{
    text-align: center;
    margin-bottom: 0;
}
#contact form{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
#contact input, #conatct textarea{
    width: 100%;
    margin: 10px 0;
}
#contact button{
    margin-top: 10px;
}
footer{
    padding: 30px 20px;
    background-color: #14153d;
}
footer .copyright{
grid-column: 1/3;
font-size: 0.8em;
}
footer .social{
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
}
footer li{
    margin: 0.6px;
}
footer .social li a img{
    width: 30px;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
    .welcome-text{
        grid-column: 1/5;
    }
    .welcome-img{
        grid-column: 5/9;
    }
}
/* large tablets and laptops  */
@media screen and (min-width: 960px) {
    body{
       font-size: 18px; 
    }
    .grid{
      width: 100%;
      max-width: 1060px;
      margin: 0 auto;
      box-sizing: border-box;
    }
    .leading{
      margin: 20px 0;
    }
    .site-nav{
      padding: 0 20px;
    }
    .site-nav h1{
      grid-column: 1/3;
  }
  .site-nav ul{
      display: flex;
      grid-column: 6/9;
      justify-content: flex-end;
      align-self: center;
      cursor: pointer;
  }
  .site-nav ul li a:hover{
    color: yellowgreen;
  }
  .site-nav li{
      margin-left: 20px;
  }
  #skills{
      padding: 30px 20px;
  }
  #skills ul{
  margin: 40px auto;
  }
  #skills li{
      grid-column: span 1;
      margin-left: 20px;
  }
    
  }
  
  /* i added this one wasn't sastisfied with the pixels in between */
  /* large tablet and laptops */
  @media screen and (min-width: 1050px) {
      body{
         font-size: 18px; 
      }
      .grid{
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
        box-sizing: border-box;
      }
      .leading{
        margin: 20px 0;
      }
      .site-nav{
        padding: 0 20px;
      }
      .site-nav h1{
        grid-column: 1/3;
    }
    .site-nav ul{
        display: flex;
        grid-column: 6/9;
        justify-content: flex-end;
        align-self: center;
        cursor: pointer;
    }
    .site-nav li{
        margin-left: 20px;
    }
    #skills{
        padding: 30px 20px;
    }
    #skills ul{
    margin: 40px auto;
    }
    #skills li{
        grid-column: span 1;
        margin-left: 30px;
    }
      
    }
  
  /* destop styles */
  @media screen and (min-width: 1200px) {
      body{
          font-size: 18px; 
          /* background-color: red; */
       }
       #welcome, #portfoliio, #skills, #contact{
          padding: 90px 0;
       }
       #skills{
          padding: 30px 20px;
      }
      #skills ul{
      margin: 40px auto;
      }
      #skills li{
          grid-column: span 1;
          margin-left: 40px;
      }
     
  }